button.btn1 {
    background: #4949d5;
    border-color: #5555df;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}
button.btn2 {
    font-weight: bold;
    margin-left: 10px;
}
button.btn {
  color: #fff;
  background: red;
  border-color: red;
  font-size: 12px;
  margin-left: 2vw;
  font-weight:  bold;
}
button {
  cursor: pointer;
}
.App {
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
